#pokemonInfo .bug {
    background-color: rgba(137, 255, 3);
}

#pokemonInfo .dark {
    background-color: rgb(106, 36, 136);
}

#pokemonInfo .dragon {
    background-color: rgb(241, 110, 87);
}

#pokemonInfo .electric {
    background-color: rgb(238, 205, 18);
}

#pokemonInfo .fairy {
    background-color: rgba(248, 41, 238);
}

#pokemonInfo .fighting {
    background-color: rgb(240, 118, 43);
}

#pokemonInfo .fire {
    background-color: rgb(233, 67, 38);
}

#pokemonInfo .flying {
    background-color: rgb(73, 196, 230);
}

#pokemonInfo .ghost {
    background-color: rgb(126, 97, 173);
}

#pokemonInfo .grass {
    background-color: rgba(78, 119, 15);
}

#pokemonInfo .ground {
    background-color: rgb(129, 82, 82);
}

#pokemonInfo .ice {
    background-color: rgb(175, 232, 250);
}

#pokemonInfo .normal {
    background-color: rgb(161, 165, 167);
}

#pokemonInfo .poison {
    background-color: rgb(170, 116, 185);
}

#pokemonInfo .psychic {
    background-color: rgb(194, 87, 149);
}

#pokemonInfo .rock {
    background-color: rgb(136, 122, 60);
}

#pokemonInfo .steel {
    background-color: rgb(158, 183, 184);
}

#pokemonInfo .water {
    background-color: rgb(69, 146, 196);
}

.bug {
    background-color: rgba(137, 255, 3, 0.5);
}

.dark {
    background-color: rgb(106, 36, 136, 0.5);
}

.dragon {
    background-color: rgb(241, 110, 87, 0.5);
}

.electric {
    background-color: rgb(238, 205, 18, 0.5);
}

.fairy {
    background-color: rgba(248, 41, 238, 0.5);
}

.fighting {
    background-color: rgb(240, 118, 43, 0.5);
}

.fire {
    background-color: rgb(233, 67, 38, 0.5);
}

.flying {
    background-color: rgb(73, 196, 230, 0.5);
}

.ghost {
    background-color: rgb(126, 97, 173, 0.5);
}

.grass {
    background-color: rgba(78, 119, 15, 0.5);
}

.ground {
    background-color: rgb(129, 82, 82, 0.5);
}

.ice {
    background-color: rgb(175, 232, 250, 0.5);
}

.normal {
    background-color: rgb(161, 165, 167, 0.5);
}

.poison {
    background-color: rgb(170, 116, 185, 0.5);
}

.psychic {
    background-color: rgb(194, 87, 149, 0.5);
}

.rock {
    background-color: rgb(136, 122, 60, 0.5);
}

.steel {
    background-color: rgb(158, 183, 184, 0.5);
}

.water {
    background-color: rgb(69, 146, 196, 0.5);
}