@media(max-width: 827px) {
    .card-small-wrapper {
        margin: 10px;
    }
    .card-small {
        height: 230px;
        width: 170px;
    }
    .pokemon-pic {
        width: 125px;
    }
    h2 {
        font-size: 18px;
    }
    h4 {
        font-size: 14px;
    }
    /*singlecard*/
    .card {
        padding: 2px 3px;
    }
    .card-pic {
        height: 80px;
    }
    .card-header h4 {
        font-size: 11px;
    }
    .card-header h2 {
        font-size: 16px;
    }
    .card-header h3 {
        margin: 0.3em 0em 0.1em 0em;
        font-size: 12px;
    }
    .element-pic img {
        height: 16px;
        margin: 0 0 3px 3px;
    }
    .card-pic img {
        width: 95px;
        height: 95px;
        top: 14px;
    }
    .card-info {
        height: 128px;
    }
    .card-info-header {
        height: 25px;
    }
    .arrow-right {
        position: absolute;
        top: 60px;
        right: 5px;
        height: 15px;
        cursor: pointer;
    }
    .arrow-left {
        position: absolute;
        top: 60px;
        left: 5px;
        height: 15px;
        cursor: pointer;
    }
    #pokemonStats {
        max-height: 100px;
        min-height: 100px;
    }
    canvas {
        height: 100px !important;
        width: 164px !important;
    }
    .moves {
        width: 151px;
    }
}

@media(max-width: 650px) {
    h1 {
        margin: 15px 0;
    }
    .header {
        flex-direction: column;
        justify-content: center;
    }
    .search-pokemon {
        justify-content: center;
    }
}