html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-image: url(/grafiken/pokeball-lichtring.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    user-select: none;
    font-family: 'Roboto';
}

h1 {
    color: white;
    font-size: 3rem;
}

h2 {
    margin: 0;
    display: flex;
    align-items: center;
}

h3 {
    margin: 0.3em 0em 0.3em 0em;
    cursor: pointer;
    font-size: 13px;
}

h4 {
    margin: 0;
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5em;
    height: 120px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #000000c7;
    width: -webkit-fill-available;
}

.headline {
    display: flex;
    align-items: center;
}

.headline img {
    height: 60px;
    margin-right: 10px;
}

.search-pokemon {
    display: flex;
    justify-content: flex-end;
    width: 300px;
}

.options input {
    width: 120px;
    margin: 0 20px;
    outline: none;
}

.filter-window {
    z-index: 4
}

.filter-options {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 120px;
    background-color: #3e3939;
    color: white;
    overflow: auto;
    max-height: 150px;
    z-index: 4
}

.close-filter-options {
    display: flex;
    justify-content: flex-end;
}

.close-filter-options img {
    cursor: pointer;
    margin: 5px 8px 0 0;
    position: sticky;
    top: 0;
    height: 15px;
    width: 15px;
}

.filter-elements div {
    margin: 3px 0;
}

.filter-elements label:hover {
    color: #a51f1f;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 120px;
}

.card-small-wrapper {
    margin: 20px;
}

.card-small {
    position: relative;
    height: 318px;
    width: 230px;
    border: 4px solid #FFD800;
    border-radius: 5px;
}

.card-header-small {
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-around;
    padding: 0.5em;
}

.pokemon-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: black solid 2px;
    border-radius: 5px;
}

.element-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.element-icon img {
    padding: 1em;
    height: 35px;
}

.show-more {
    display: flex;
    justify-content: center;
}

.backtotop {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3e3939;
    cursor: pointer;
    border: 1px solid #3e3939;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    position: fixed;
    right: 50px;
    top: 90vh;
}

.backtotop:hover {
    transform: scale(1.2);
}

::-webkit-scrollbar {
    width: 10px;
    /* Breite des Scrollbalkens */
    height: 10px;
    /* Höhe des Scrollbalkens (bei horizontalen Scrollbalken) */
}

.filter-options::-webkit-scrollbar-track {
    background-color: #3e3939;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FFD800;
}